
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    *{
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(img/Groovy3.jpg) ;
    }


    .card-body{
        display: flex;
        align-items: center;
        width: 600px;
    }


    .product-card {
       position: relative;
       max-width: 995px;
       width: 100%;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       border-radius: 25px;
       padding: 20px 30px 30px 30px;
       background: #fff;
       z-index: 3;
       overflow: hidden;
       height: 700px;
       backdrop-filter: blur(0px);
        
    }


    .product-card .logo-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .product-card .logo-card h1{
        object-fit: cover;
        font-size: 27px;
    }


    .product-card .logo-card i{
        font-size: 33px;
        color: #707070;
        cursor: pointer;
        transition: color 0.3s ease;
    }


    .product-card .logo-card i:hover{
        color: #333;
    }


    .product-card .main-images{
        position: relative;
        height: 380px ;
    }


    .product-card .main-images img {
        position: absolute;
        height: 360px;
        width: 360px;
        object-fit: cover;
        top: 10px;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.5s ease;
        margin-left: 88px;
    }


    .product-card .main-images img.active{
        opacity: 1;
    }


    .product-card .camis-details .camis-name{
        font-size: 29px;
        font-weight: 500;
        color: #161616;
    }


    .product-card .camis-details p{
        font-size: 15px;
        font-weight: 400;
        color: #333;
        text-align: justify;
    }


    .product-card .camis-details .stars i{
        margin: 0 0px;
        color: #333;
    }


    .product-card .color-price .color-option{
        display: flex;
        align-items: center;
    }

    .color-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .color-price .color-option .color{
        font-size: 23px;
        font-weight: 500;
        color: #333;
        margin-right: 8px;
    }



    .color-option .circles{
        display: flex;
    }


     .color-option .circles .circle{
        height: 18px;
        width: 18px;
        background: rgb(54, 32, 13);
        border-radius: 50%;
        margin: 0 4px;
        cursor: pointer;
        transition: all 0.4s ease;
    }


    .color-option .circles .circle.marrom.active{
        box-shadow: 0 0 0 2px #fff,
                     0 0 0 4px rgb(54, 32, 13);
    }


    .color-option .circles .circle.verde{
        background: rgb(58, 90, 58);
    }


    .color-option .circles .circle.verde.active{
        box-shadow: 0 0 0 2px #fff,
                     0 0 0 4px rgb(58, 90, 58);
    }


    .color-option .circles .circle.vinho{
        background: rgb(108, 0, 0);
    }


    .color-option .circles .circle.vinho.active{
        box-shadow: 0 0 0 2px #fff,
                     0 0 0 4px rgb(108, 0, 0);
    }


    .color-price .price{
        display: flex;
        flex-direction: column;
    }


    .color-price .price .price_num{
        font-size: 26px;
        font-weight: 600;
        color: #707070;
    }


    .color-price .price .price_letter{
        font-size: 11px;
        font-weight: 600;
        margin-top: -4px;
        color: #707070;
    }

    .product-card .button{
        position: relative;
        height: 50px;
        width: 100%;
        background-color: blueviolet;
        border-radius: 25px;
        margin-top: 25px;
    }


    .product-card .button button{
        position: relative;
        height: 100%;
        width: 100%;
        background: none;
        outline: none;
        border: none;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
    }


    .product-card .button :hover{
        transition: 0.3s ease;
        font-size: 17.5px;
        cursor: pointer;
        background-color: rgb(118, 40, 191);
        border-radius: 30px;
    }


    .product-card .logo-card a{
      text-decoration: none;
      color:#707070;
    }


    .product-card .logo-card a:hover{
        color: #333;
    }