<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card das roupas</title>
    <!-- Boxicons CDN LINK-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="style.css">
   <script src="script.js" defer></script>
   

</head>
<body>
    <div class="card-body">
    <div class="product-card">
        <div class="logo-card">
          <a href="../index.php"><h1>ZEN</h1></a>
            <i class='bx bx-shopping-bag'></i>
        </div>
        <div class="main-images">
            <img id="preto" class="preto active" src="img/camisa-preta.png" alt="preto">
            <img id="bege" class="bege" src="img/camisa-bege.png" alt="bege">
            <img id="roxo" class="roxo"  src="img/camisa-roxa.png" alt="roxo">
        </div>
        <div class="camisa-details">
            <span class="camisa-name">CAMISA ZEN COLLECTION I</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, reiciendis dolore?</p>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Cores:</span>
                <div class="circles">
                    <span class="circle preto active" id="preto"></span>
                    <span class="circle bege" id="bege"></span>
                    <span class="circle roxo" id="roxo"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">R$60,00</span>
                <span class="price_letter">Apenas sessenta reais</span>
            </div>
        </div>
        <div class="button">
            <button>Adicionar ao carrinho</button>
        </div>
    </div>

